.main{
    background-color: #b8b7b71a;
    min-height: calc(100vh - 60.7px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
}

.testdata{
    display: flex;
    align-items: center;
}

.text{
    text-align: center;
}